/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
body{
    box-sizing: border-box ;
    font-family: 'Open Sans';
    background-color: #d279ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* flex-wrap: wrap;
    align-content: center; */
}
 
.panel{
    width:100%;
    max-width: 960px;
    display: flex;
    flex-direction: column; 
    padding: 15px 25px;
    background-color: white;
    border-radius: 1em;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan{
  padding: 20px;
    border-bottom: 1px solid #f5e1ff;
}

.pricing-plan:nth-of-type(3){
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  .pricing-header {
    color: rgb(126, 113, 131);
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .pricing-features {
    margin: 50px 0 25px;
    color: #af01f9;
  }

  .pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #f5e1ff;
  }
  
  .pricing-features-item:last-child{
    border-bottom: 1px solid #f5e1ff;
  }
  
  .pricing-price {
    color: #b300ff; 
    display: block;
    font-size: 32px;
    font-weight: 700;
  }

  a {
    display: inline-block;
    border: 1px solid rgb(196, 35, 255);
    border-radius: 0.5em;
    padding: 1em 2.1em;
    margin: 25px 0 ;
    text-decoration: none;
    color: #b700ff;
    transition: 0.3s;
  }

  a:hover{
      background-color: rgba(187, 51, 255, 0.28);
      color: #8300b6;
  }

  .pricing-button-is-featured{
      color: white;
      background-color: #cb64ff;
  }

  .pricing-button-is-featured:hover{
      color: white;
      background-color: #c236fa;
  }

  @media (min-width: 900px)
  {
      .panel{
          flex-direction: row;
      }

      .pricing-plan{
        padding: 25px 50px;
        border-right: 1px solid #f5e1ff;
        border-bottom: none;
    }
    
    .pricing-plan:nth-of-type(3){
        border-right: none;
    }
  }